.vs/TestRobotPayment/FileContentIndex
.vs/ProjectEvaluation
TestRobotPayment/Properties/PublishProfiles/
TestRobotPayment/bin/Release/
TestRobotPayment/obj/Debug/net8.0/ApiEndpoints.json
TestRobotPayment/obj/Debug/net8.0/TestRobotPayment.sourcelink.json
TestRobotPayment/obj/Release